<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>청우국제운송(주)</title>
    <link rel="stylesheet" th:href="@{/css/home/header.css}" href="../../static/css/home/header.css">
    <link rel="stylesheet" th:href="@{/css/home/footer.css}" href="../../static/css/home/footer.css">
    <link rel="stylesheet" th:href="@{/css/service/service.css}" href="../../static/css/service/service.css">
    <link rel="stylesheet" th:href="@{/css/service/inquiryList.css}" href="../../static/css/service/inquiryList.css">
    <link rel="stylesheet" th:href="@{/css/service/serviceHeader.css}" href="../../static/css/service/serviceHeader">
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/home/header.js}" src="../../static/js/home/header.js" defer></script>
    <script th:src="@{/js/service/inquiryList.js}" src="../../static/js/service/inquiryList.js" defer></script>
</head>
<body>
<th:block th:replace="~{home/header:: header}"/>
    <input type="hidden" th:value="${#authentication.getAuthorities()}" id="auth">
<div id="body-wrapper">
    <div id="title">
        <h1>온라인 문의</h1>
        <div id="inquiry-search-box">

            <select id="inquiry-search-type">
                <option value="no">게시글 번호</option>
                <option value="contents">게시글 내용</option>
                <option value="name">작성자</option>
                <option value="phone">휴대폰</option>
            </select>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="검색어를 입력하세요" id="inquiry-search-keyword">
            <input type="button" value="검 색" id="inquiry-search-btn">
        </div>
    </div>
    <th:block th:replace="~{service/serviceHeader:: serviceHeader}"/>

    <section>
        <div id="inquiry-container">
            <div id="inquiry-btn-box">
                <input type="button" value="글쓰기" onclick="location.href='/service/inquiryWrite'">
            </div>
            <div id="inquiry-header">
                <ul>
                    <li class="inquiry-no">순번</li>
                    <li class="inquiry-title">제목</li>
                    <li class="inquiry-write">작성자</li>
                    <li class="inquiry-phone">휴대폰</li>
                    <li class="inquiry-write-date">작성일자</li>
                    <li class="inquiry-validation">확인</li>
                </ul>
            </div>
            <div id="inquiry-box-wrap">
                <div class="inquiry-box">
                    <ul>
                        <li class="inquiry-no">1</li>
                        <li class="inquiry-title">비공개입니다.</li>
                        <li class="inquiry-write">김*수</li>
                        <li class="inquiry-phone">1234</li>
                        <li class="inquiry-write-date">23-06-12</li>
                        <li class="inquiry-validation">미확인</li>
                    </ul>
                </div>
                <div class="inquiry-box">
                    <ul>
                        <li class="inquiry-no">1</li>
                        <li class="inquiry-title">비공개입니다.</li>
                        <li class="inquiry-write">김*수</li>
                        <li class="inquiry-phone">1234</li>
                        <li class="inquiry-write-date">23-06-12</li>
                        <li class="inquiry-validation">미확인</li>
                    </ul>
                </div>
                <div class="inquiry-box">
                    <ul>
                        <li class="inquiry-no">1</li>
                        <li class="inquiry-title">비공개입니다.</li>
                        <li class="inquiry-write">김*수</li>
                        <li class="inquiry-phone">1234</li>
                        <li class="inquiry-write-date">23-06-12</li>
                        <li class="inquiry-validation">미확인</li>
                    </ul>
                </div>
                <div class="inquiry-box">
                    <ul>
                        <li class="inquiry-no">1</li>
                        <li class="inquiry-title">비공개입니다.</li>
                        <li class="inquiry-write">김*수</li>
                        <li class="inquiry-phone">1234</li>
                        <li class="inquiry-write-date">23-06-12</li>
                        <li class="inquiry-validation">미확인</li>
                    </ul>
                </div>
            </div>
            <div id="inquiry-page-num">
                <ul>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                </ul>
            </div>
        </div>
    </section>
</div>
<th:block th:replace="~{home/footer::footer}"/>
</body>

</body>
</html>