<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home/header.css}" href="../../static/css/home/header.css">
    <link rel="stylesheet" th:href="@{/css/home/footer.css}" href="../../static/css/home/footer.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/introduce/introduce.css}"
          href="../../static/css/introduce/introduce.css">
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/home/header.js}" src="../../static/js/home/header.js" defer></script>
</head>
<body>
<th:block th:replace="~{home/header:: header}"/>
<div id="body-wrapper">
    <img src="../../static/images/groupchart.png" alt="" width="20rem" height="10rem">
</div>
<th:block th:replace="~{home/footer::footer}"/>
</body>
</html>