<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">-->
    <title>청우국제운송</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home/header.css}" href="../../static/css/home/header.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home/footer.css}" href="../../static/css/home/footer.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/introduce/introduce.css}"
          href="../../static/css/introduce/introduce.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/introduce/history.css}"
          href="../../static/css/introduce/history.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/introduce/introHeader.css}"
          href="../../static/css/introduce/introHeader.css">
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/home/header.js}" src="../../static/js/home/header.js" defer></script>
</head>
<body>
<th:block th:replace="~{home/header:: header}"/>
<div id="body-wrapper">

    <div id="title">
        <h1>회사소개</h1>
    </div>
    <th:block th:replace="~{introduce/introHeader:: introHeader}"/>
    <article>
        <h1>연 혁</h1>
        <div id="container">
            <div id="history">
                <table>
                    <tr>
                        <td>1978.03</td>
                        <td>㈜세아기업 설립</td>
                    </tr>
                    <tr>
                        <td>1978.10</td>
                        <td>㈜세아기업 부산지사 개설</td>
                    </tr>
                    <tr>
                        <td>1987.09</td>
                        <td>㈜세아기업 구미지사 개설</td>
                    </tr>
                    <tr>
                        <td>1994.02</td>
                        <td>㈜청우쉬핑 설립</td>
                    </tr>
                    <tr>
                        <td>1996.04</td>
                        <td>㈜청우쉬핑 서울지사 개설</td>
                    </tr>
                    <tr>
                        <td>1997.03</td>
                        <td>㈜청우쉬핑 경산지점 개설(컨테이너차량 차고지)</td>
                    </tr>
                    <tr>
                        <td>1997.04</td>
                        <td>㈜청우쉬핑 컨테이너 운송사업 허가(제12호 1997.04.01)</td>
                    </tr>
                    <tr>
                        <td>1997.05</td>
                        <td>수출입 통관 법인인허가(대구,부산), 관세청 등록번호(제97-6호)<br/>
                            간이보세운송업자 지정, 대구 본부세관(제97-4호)
                        </td>
                    </tr>
                    <tr>
                        <td>1998.12</td>
                        <td>㈜청우국제운송으로 상호변경[모기업인㈜세아기업 합병]</td>
                    </tr>
                    <tr>
                        <td>2000.07</td>
                        <td>㈜청우국제운송 청도 지사 개설</td>
                    </tr>
                    <tr>
                        <td>2002.08</td>
                        <td>㈜청우국제운송 천진 지사 개설</td>
                    </tr>
                    <tr>
                        <td>2002.12</td>
                        <td>㈜청우국제운송 대련 지사 개설</td>
                    </tr>
                    <tr>
                        <td>2003.02</td>
                        <td>㈜청우국제운송 상해 지사 개설</td>
                    </tr>
                </table>
            </div>
        </div>
    </article>
</div>
<th:block th:replace="~{home/footer::footer}"/>

</body>
</html>