<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>청우국제운송</title>
    <link rel="stylesheet" th:href="@{/css/home/header.css}" href="../../static/css/home/header.css">
    <link rel="stylesheet" th:href="@{/css/home/footer.css}" href="../../static/css/home/footer.css">
    <link rel="stylesheet" th:href="@{/css/community/detail.css}" href="../../static/css/community/detail.css">
    <link rel="stylesheet" th:href="@{/css/community/community.css}" href="../../static/css/community/community.css">
    <link rel="stylesheet" th:href="@{/css/community/communityHeader.css}" href="../../static/css/community/communityHeader.css">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" type="text/css">
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script th:src="@{/js/home/header.js}" src="../../static/js/home/header.js" defer></script>
    <script th:src="@{/js/community/notice/detail.js}" src="../../static/js/community/notice/detail.js" defer></script>
<!--    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>-->
</head>
<body>
<th:block th:replace="~{home/header :: header}"/>
<div id="body-wrapper">
    <div id="title">
        <h1>공지사항</h1>
    </div>
    <th:block th:replace="~{community/communityHeader:: communityHeader}"/>
    <section>
        <input type="hidden" id="board-no" th:value="${no}">
        <div id="container">
            <div id="update-btn" sec:authorize="isAuthenticated()">
                <input type="button" value="수정하기" onclick="location.href = `/community/noticeWrite?no=${no}`">
                <input type="button" value="삭제하기" onclick="delete_notice()">
            </div>
            <div id="notice-detail">

            </div>

        </div>
    </section>
</div>
<th:block th:replace="~{home/footer::footer}"/>
</body>
</html>