<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
<!--    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">-->
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/home/header.css}" href="../../static/css/home/header.css">
    <link rel="stylesheet" th:href="@{/css/home/footer.css}" href="../../static/css/home/footer.css">
    <link rel="stylesheet" th:href="@{/css/community/detail.css}" href="../../static/css/community/detail.css">
    <script th:src="@{/js/home/header.js}" src="../../static/js/home/header.js" defer></script>
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{home/header:: header}"/>
<div id="body-wrapper">
<h1>상세페이지</h1>
<h1>상세페이지</h1>
</div>
<th:block th:replace="~{home/footer::footer}"/>
</body>
</html>