<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>공지사항 작성</title>
    <link rel="stylesheet" th:href="@{/css/home/header.css}" href="../../static/css/home/header.css">
    <link rel="stylesheet" th:href="@{/css/home/footer.css}" href="../../static/css/home/footer.css">
    <link rel="stylesheet" th:href="@{/css/community/write.css}" href="../../static/css/community/write.css">
    <link rel="stylesheet" th:href="@{/css/community/community.css}" href="../../static/css/community/community.css">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script th:src="@{/js/home/header.js}" src="../../static/js/home/header.js" defer></script>
    <script th:src="@{/js/community/noticeWrite.js}" src="../../static/js/community/noticeWrite.js" defer></script>
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{home/header:: header}"/>
<div id="body-wrapper">
    <div id="title">
        <h1>게시글 작성</h1>
    </div>
    <section>
        <div id="write-container">
            <h2>게시글 작성</h2>
            <form action="/community/noticeWrite">
                <div id="editor">
                    <p>Hello World!</p>
                    <p>Some initial <strong>bold</strong> text</p>
                    <p><br></p>
                </div>
                <input type="hidden" id="quill_html" name="contents">
                <div id="btn">
                    <input type="button" value="작성하기">
                    <input type="button" value="취소하기">
                </div>
            </form>
        </div>
    </section>
</div>
<th:block th:replace="~{home/footer::footer}"/>
</body>
</html>