#service-header-wrap {
    background-color: #1a2636;
    box-shadow: 0 0 2px 1px #fff;
}
#service-header {
    margin: 0 auto;
    width: 1200px;
}
#service-header > ul {
    display: flex;
}
#service-header > ul > li:first-child{
    border-left: 2px solid #fff;
}
#service-header > ul > li{
    width: 100%;
    height: 2.5rem;
    border-right: 2px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
#service-header > ul > li > a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
}