* {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}
html, body {
    height: 100%;
}
#body-wrapper {
    position: relative;
    min-height: 100%;

}
#register-container {
    width: 1200px;
    margin: 0 auto;
    padding: 8rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*border: 1px solid red;*/
}

#register-container h1 {
    /*margin: 2rem 0;*/
    font-size: 2.2rem;
    color: #1a2636;
    text-shadow: 1px 1px 1px #999;
}

/**/
#register-box {
    margin: 3rem 0;
    border-spacing: 0;
    border: 2px solid #ccc;
}
#register-box tr td {
    padding: 1.5rem;

    border-bottom: 1px solid #ccc;
}
#register-box tr:first-child {
}
#register-box tr td:first-child {
    text-align: right;
}
#register-box tr td:last-child {
    width: 30rem;
}
#register-box input {
    height: 1.4rem;
    width: 15rem;
}
#register-box #dupl-btn {
    margin-left: 1rem;
    width: 4rem;
    height: 1.7rem;
}
#select-branch > select {
    width: 8rem;
    height: 1.6rem;
    text-align: center;
}

/**/
#btn-box {
    display: flex;
    justify-content: center;
}
#btn-box input {
    margin: 2rem 4rem;
    width: 7rem;
    height: 2.5rem;
    border: none;
    background-color: #1a2636;
    color: white;
    cursor: pointer;
}
#btn-box input:hover {
    background-color: #777;
}
#btn-box input:active {
    width: 6.9rem;
    height: 2.4rem;
}

/* 비밀번호 생성규칙 */
#pw-disc {
    font-size: 0.7rem;
    color: #999999;
    margin-left: 0.5rem;
}