<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=500, initial-scale=1, maximum-scale=1">
    <!--    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">-->
    <title>관리자 로그인</title>
    <link rel="stylesheet" th:href="@{/css/user/login.css}" href="../../static/css/user/login.css">
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
</head>
<body>
<form th:method="post">
    <h1>CHUNGWOO 관리자 로그인</h1>
    <div id="user-input">
        <input type="text" name="username" placeholder="아이디를 입력해 주세요.">
        <input type="password" name="password" placeholder="비밀번호를 입력해 주세요.">
    </div>
    <div id="btn-box">
        <input type="submit" value="로그인"> <br/>
        <input type="button" value="회원가입" onclick="location.href = '/user/register'">
    </div>
    <div id="search">
        <a href="">아이디/비밀번호 찾기</a> <br/>
    </div>
</form>
</body>
</html>