<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>청우국제운송(주)</title>
    <link rel="stylesheet" th:href="@{/css/home/header.css}" href="../../static/css/home/header.css">
    <link rel="stylesheet" th:href="@{/css/home/footer.css}" href="../../static/css/home/footer.css">
    <link rel="stylesheet" th:href="@{/css/user/passwordSearch.css}" href="../../static/css/user/passwordSearch.css">
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/home/header.js}" src="../../static/js/home/header.js" defer></script>
    <script th:src="@{/js/user/passwordSearch.js}" src="../../static/js/user/passwordSearch.js" defer></script>
</head>
<body>
<th:block th:replace="~{home/header:: header}"/>
<div id="body-wrapper">

    <form action="/user/updatePassword" method="post">
        <h1>비밀번호 찾기</h1>
        <p>* 아이디를 분실하신경우 관리자 계정에 문의 부탁드립니다.</p>
        <div id="user-input">
            <h3>아이디 입력</h3>
            <div id="check-id">
                <input type="text" name="id" placeholder="아이디를 입력해 주세요.">
            </div>
            <div id="auth-email">
                <h3>이메일 입력</h3>
                <input type="email" name="email" placeholder="이메일 주소를 입력하여 주세요.">
                <input type="button" value="인증번호 전송">
            </div>
            <div id="auth-num">
                <input type="text" name="email-auth-num" maxlength="6" >
                <input type="button" value="인증하기">
            </div>
            <div id="update-pw">
                <h3>변경할 패스워드 입력</h3>
                <input type="password" name="password">
                <h3>변경할 패스워드 확인</h3>
                <input type="password">
            </div>
        </div>
        <div id="btn-box">
            <input type="button" value="변경완료" onclick="form_check()"> <br/>
            <input type="button" value="돌아가기" onclick="location.href = '/user/login'">
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</div>
<th:block th:replace="~{home/footer::footer}"/>
</body>
</html>