
/*** 내용 ***/
#greeting-box {
    width: 100%;
    padding: 2rem;
}
#greeting-box span {
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.8rem;
}

@media only screen and (max-width: 768px) {
    #greeting-box span {
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: left;
    }
}
