
/*** 내용 ***/
#greeting-box {
    width: 100%;
    padding: 2rem;
}
#greeting-box span {
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.8rem;
}

