#intro-header-wrap {
    background-color: #1a2636;
    box-shadow: 0 0 2px 1px #fff;
}
#intro-header {
    margin: 0 auto;
    width: 1200px;
}
#intro-header > ul {
    display: flex;
}
#intro-header > ul > li:first-child{
    border-left: 2px solid #fff;
}
#intro-header > ul > li{
    width: 100%;
    height: 2.5rem;
    border-right: 2px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
#intro-header > ul > li:hover {
    background-color: #ccc;
}
#intro-header > ul > li > a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
}
#intro-header > ul > li:hover > a{
    color: #1a2636;
}

@media only screen and (max-width: 768px) {
    #intro-header-wrap {
        width: 100%;
    }
    #intro-header {
        width: 100%;
    }
    #intro-header > ul > li > a{
        font-size: 1rem;
    }
}