.rule-container {
    width: 100%;
    border-bottom: 2px solid #ccc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rule-container > h2{
    padding: 1rem;
    width: 23rem;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    background-color: #4eb2cd;
    border-radius: 50px;
}
.rule-box {
    width: 55rem;
    height: 40rem;

    display: flex;
    flex-wrap: wrap;
}
.rule-item1 {
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.rule-item2 {
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.rule-item3 {
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.rule-item4 {
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* 내용 */
.rule-contents > p {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}
.rule-contents > span {
    font-size: 1.2rem;
    color: #666;
}
.rule-item1 > .rule-contents {
    padding-right: 4rem;
    text-align: right;
}
.rule-item2 > .rule-contents {
    padding-left: 4rem;
}
.rule-item3 > .rule-contents {
    padding-right: 4rem;
    text-align: right;
}
.rule-item4 > .rule-contents {
    padding-left: 4rem;
}

/* ========== 기업 철학 =============== */
.philosophy-container {
    padding-top: 3rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.philosophy-container > h2{
    margin: 3rem 0;
    padding: 1rem;
    width: 23rem;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    background-color: #396497;
    border-radius: 50px;
}

.philosophy-item-wrap {
    display: flex;
}
.philosophy-box p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.philosophy-item1 {
    margin: 0 auto -3rem auto;
    width: 15rem;
    height: 15rem;
    text-align: center;
    background-color: rgba(143, 203, 221, 0.8);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.philosophy-item2 {
    margin-right: -1.5rem;
    width: 15rem;
    height: 15rem;
    text-align: center;
    background-color: rgba(137, 162, 193, 0.8);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.philosophy-item3 {
    margin-left: -1.5rem;
    width: 15rem;
    height: 15rem;
    text-align: center;
    background-color: rgba(165, 194, 230, 0.8);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {

    .rule-container > h2{
        padding: 1rem 0;
        width: 50%;
        font-size: 1.5rem;
    }
    .rule-box {
        width: 80%;
        height: 40rem;
    }
    .rule-box img {
        width: 8rem;
    }
    /* 내용 */
    .rule-contents > p {
        font-size: 1rem;
    }
    .rule-contents > span {
        font-size: 0.8rem;
    }
    .rule-item1 > .rule-contents {
        padding-right: 4rem;
        text-align: right;
    }
    .rule-item2 > .rule-contents {
        padding-left: 4rem;
    }
    .rule-item3 > .rule-contents {
        padding-right: 4rem;
        text-align: right;
    }
    .rule-item4 > .rule-contents {
        padding-left: 4rem;
    }

    /* ========== 기업 철학 =============== */
    .philosophy-container {
        padding-top: 3rem;
    }
    .philosophy-container > h2{
        margin: 3rem 0;
        padding: 1rem 0;
        width: 50%;
        font-size: 1.5rem;
    }
    .philosophy-box p{
        font-size: 1.2rem;
    }
    .philosophy-item1 {
        margin: 0 auto -3rem auto;
        width: 13rem;
        height: 13rem;
    }
    .philosophy-item2 {
        margin-right: -1.5rem;
        width: 13rem;
        height: 13rem;
    }
    .philosophy-item3 {
        margin-left: -1.5rem;
        width: 13rem;
        height: 13rem;
    }

}