#community-header-wrap {
    background-color: #666;
    box-shadow: 0 2px 2px 1px #666;
}
#community-header {
    margin: 0 auto;
    width: 1200px;
}
#community-header > ul {
    display: flex;
}
#community-header > ul > li:first-child{
    border-left: 2px solid #fff;
}
#community-header > ul > li{
    width: 100%;
    height: 2.5rem;
    border-right: 2px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
#community-header > ul > li > a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
}