
#container {
    padding: 8rem 2rem;

    /*border: 1px solid blue;*/
}
#container table {
    width: 70rem;
    border-spacing: 0;
}
#update-btn {
    margin: 1rem 5rem 1rem 1rem;
    display: flex;
    justify-content: flex-end;
}
#update-btn input {
    margin-right: 1rem;
    width: 5rem;
    height: 1.5rem;
    color: white;
    background-color: #314E70;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#notice-detail tbody  td  img {
    max-width: 100%;
    width: auto ;
    height: auto ;
}

/* 테이블 헤더(제목) */
#container th {
    padding: 1rem;
    width: 15%;
    font-size: 0.9rem;
    font-weight: normal;

    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;

}
#container th:first-child {
    width: 70%;
    font-size: 1.1rem;
    text-align: left;
}

/* 테이블 바디(내용) */
#container tbody td {
    padding: 2rem 1rem;
    line-height: 1.5rem;
}

/* 테이블 풋(첨부파일) */
#container tfoot tr:first-child td {

    border-top: 2px solid #999;
}
#container tfoot td {
    padding: 1rem;
    font-size: 0.9rem;

    border-bottom: 1px dotted #999;
}
#container tfoot td:last-child{
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
}

/* 이동 버튼 */
#move-btn {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
#move-btn input {
    width: 4rem;
    height: 2rem;
    margin: 2rem;
    font-size: 0.8rem;
    color: white;
    background-color: #314E70;
    cursor: pointer;
    border: none;
}