#container {
    padding: 10rem 0;
}

/* 글쓰기 버튼 */
#write-btn {
    margin-right: 7rem;
    display: flex;
    justify-content: flex-end;
}
#write-btn input {
    width: 5rem;
    height: 1.5rem;
    color: white;
    background-color: #4646b6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*** 공지사항 검색 ***/
#search-input {
    /*background-color: red;*/
    text-align: right;
    margin: 1rem 7rem;
}
#search-input select {
    width: 5rem;
    height: 2.5rem;
}
#search-input input:nth-child(2){
    width: 20rem;
    height: 2.2rem;
}
#search-input input:last-child {
    width: 4rem;
    height: 2.5rem;
    background-color: #B3E3FF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*** 공지사항 목록 ***/
#notice-box {
    display: flex;
    justify-content: center;
}
.tbl-title {
    width: 3rem;
    height: 2.5em;
    text-align: center;
    border-bottom: 2px solid #c0bfbf;
}
.tbl-content {
    width: 45rem;
    padding-left: 1em;
    border-bottom: 2px solid #c0bfbf;
}
.tbl-upload {
    width: 7rem;
    text-align: center;
    border-bottom: 2px solid #c0bfbf;
}
.tbl-count {
    width: 5rem;
    text-align: center;
    border-bottom: 2px solid #c0bfbf;

}

#page-num > ul {
    margin: 1rem;

    display: flex;
    justify-content: center;
}
#page-num > ul li {
    margin-right: 1rem;
    font-weight: bold;
    color: #355172;
    cursor: pointer;
}


