@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}
#body-wrapper {
    position: relative;
    min-height: 100%;
}

/*** 제목 ***/
#title {
    height: 12em;
    background: url("../../images/main.jpg") 100% no-repeat rgba(0,0,0,0.8%);

    display: flex;
    justify-content: center;
    align-items: center;
}
#title h1 {
    color: #fff;
    font-size: 2rem;
    text-shadow: 1px 5px 5px black;
}

/*** 공지사항 검색 ***/
#search-input {
    /*background-color: red;*/
    text-align: right;
    margin: 1em 1em;
}
#search-input select {
    width: 5em;
    height: 2.5em;
}
#search-input input:nth-child(2){
    width: 20em;
    height: 2.2em;
}
#search-input input:last-child {
    width: 4em;
    height: 2.5em;
}

/*** 공지사항 목록 ***/
#notice-list {
    position: absolute;
    top: 25em;
    left: 50%;
    width: 60vw;
    box-sizing: border-box;
    transform: translateX(-50%);
}
.tbl-title {
    width: 3vw;
    height: 2.5em;
    text-align: center;
    border-bottom: 2px solid #c0bfbf;
}
.tbl-content {
    width: 45vw;
    padding-left: 1em;
    border-bottom: 2px solid #c0bfbf;
}
.tbl-upload {
    width: 7vw;
    text-align: center;
    border-bottom: 2px solid #c0bfbf;


}
.tbl-count {
    width: 5vw;
    text-align: center;
    border-bottom: 2px solid #c0bfbf;

}

