#write-container {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#write-container > h2 {
    margin: 3rem 0;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #999999;
    color: #1a2636;
}

#board-type > select{
    width: 8rem;
    height: 2rem;
}

#board-header input:first-child{
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    padding-left: 0.5rem;
    font-size: 1rem;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#board-header input:first-child:focus{
    outline: 1px solid #d3d3d3;
}
#board-header input:last-child {
}

/* 에디터 */
.ql-editor {
    min-height: 30rem;
}

/* dropzone */
.dropzone {
    margin: 1rem 0;
    border: 2px dashed #ccc !important;
}
.dropzone .dz-default.dz-message, .dropzone .dz-default.dz-message  i {
    color: #999;
}

/* 버튼 */
#btn {
    margin: 2rem 0;
    text-align: center;
}
#btn input {
    margin: 0 1rem;
    width: 5rem;
    height: 2rem;
    color: white;
    background-color: #555;
    border: none;
    cursor: pointer;
}
#btn input:hover {
    background-color: #1a2636;
}
#btn input:active {
    width: 4.8rem;
    height: 1.8rem;
}