#write-container {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#write-container > h2 {
    margin: 3rem 0;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #999999;
    color: #4646b6;

}

/* 버튼 */
#btn {
    margin: 2rem 0;
    text-align: center;
}
#btn input {
    margin: 0 1rem;
    width: 5rem;
    height: 2rem;
    color: white;
    background-color: #4646b6;
    border: none;
}