html, body {
    margin: 0;
    padding: 0;
}
li, a {
    text-decoration: none;
    list-style-type: none;
}
footer {
    width: 100%;
    position: relative;
    background-color: #1a2636;
}
#foot-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    align-items: center;
}

#info {
    text-align: left;
    padding: 1rem 0 2rem 0;
}
#info h2 {
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #fff;
}
#info h2:nth-child(2) {
    letter-spacing: 10px;
}
#info span {
    font-size: 0.9rem;
    letter-spacing: normal;
    color: #fff;
}


#foot-list {
    padding: 1rem 0;
}
#foot-list ul {
    display: flex;
    font-size: 0.9rem;
}
#foot-list li {
    cursor: pointer;
    color: #fff;
}
#foot-list li a{
    color: #fff;
}
#foot-list li a:hover {
    color: #d1ecff;
    font-weight: bold;
}
#foot-list li::after {
    content: 'l';
    padding: 0.5rem;
}
#foot-list li:last-child::after {
    content: '';
}
#copyright > p{
    padding-bottom: 1rem;
    font-size: 0.8rem;
    color: #fff;
}


/* 우수기업 인증 */
.certified {
    padding: 1rem;
    height: 100%;
    text-align: center;
    display: flex;
}
.certified > img{
    height: 4rem;
}
.cert-contents {
    width: 13.5rem;
}
.cert-contents > p {
    margin-bottom: 0.5rem;
    color: #ffe4a1;
}

.cert-contents > span{
    color: #fff;
    font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {

    #foot-container {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .cert-contents {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #foot-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #info {
        text-align: center;
    }

    /* 우수기업 인증 */
    .certified {
        padding: 1rem 0;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .certified > img{
        width: 8%;
        height: 4rem;
    }
    .cert-contents {
        width: 50%;
    }
    .cert-contents > p {
        margin-bottom: 0.5rem;
        color: #ffe4a1;
    }

    .cert-contents > span{
        color: #fff;
        font-size: 0.8rem;
    }
}
