html, body {
    margin: 0;
    padding: 0;
}
li, a {
    text-decoration: none;
    list-style-type: none;
}
footer {
    position: relative;
    background-color: #1a2636;
}
#foot-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

#info {
    text-align: center;
    padding: 1rem 0 2rem 0;
}
#info h2 {
    margin: 0.5em 0;
    font-size: 1rem;
    color: #fff;
}
#info h2:nth-child(2) {
    letter-spacing: 10px;
}
#info span {
    font-size: 0.9rem;
    letter-spacing: normal;
    color: #fff;
}


#foot-list {
    padding: 1rem 0;
}
#foot-list ul {
    display: flex;
    font-size: 0.9rem;
}
#foot-list li {
    cursor: pointer;
    color: #fff;
}
#foot-list li a{
    color: #fff;
}
#foot-list li a:hover {
    color: #d1ecff;
    font-weight: bold;
}
#foot-list li::after {
    content: 'l';
    margin: 0.5em;
}
#foot-list li:last-child::after {
    content: '';
}

#copyright > p{
    padding-bottom: 1rem;
    font-size: 0.8rem;
    color: #fff;
}