@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

/*** 헤더 ***/
header {
    position: relative;
    padding: 2rem 15rem 0 15rem;
}

/*** 로고 이미지 ***/
#header-logo {
    position: absolute;
}
#header-logo img {
    width: 6rem;
    cursor: pointer;
}


/**** 헤더 메뉴 ****/
#header-list > ul {
    display: flex;
    justify-content: flex-end;
}
#header-list > ul > li {
    padding: 0.5rem 0.5rem;
    margin-top: 1.5rem;
    width: 10rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;

    /*background-color: orange;*/
}
#header-list > ul > li > a {
    color: #314E70;
}
#header-list > ul > li:hover > a {
    color: #69A6F0;
}

.header-detail-list {
    display: none;
    position: absolute;
    margin-top: 0.5rem;
    width: 10rem;
    text-align: center;
    z-index: 999;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 0.8);
}
.header-detail-list > li {
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem 0;
}
.header-detail-list > li:hover > a {
    /*font-size: 1.1rem;*/
    font-weight: bold;
    color: #314E70;
}



/*#header-list {*/
/*    height: 4em;*/
/*}*/
/*#header-list ul {*/
/*    display: flex;*/
/*}*/
/*#header-list li {*/
/*    margin: 1em 3em;*/
/*    font-size: 1.4rem;*/
/*    box-sizing: border-box;*/
/*    text-align: center;*/
/*}*/
/*#header-list li a:hover {*/
/*    font-weight: bold;*/
/*    color: #4646b6;*/
/*    transition: all 0.1s ease-in-out;*/
/*}*/

/*!* details *!*/
/*#header-list-details {*/
/*    position: absolute;*/
/*    left: 0; right: 0;*/
/*    padding: 0 27.8em 0 24.5em;*/
/*    display: flex;*/
/*    overflow: hidden;*/
/*    background-color: rgba(255, 255, 255, 0.9);*/
/*    transition: opacity ease-in-out 0.2s;*/
/*    height: 0vw;*/
/*    opacity: 0;*/
/*    z-index: 999;*/
/*}*/
/*#header-list-details ul{*/
/*    width: 100%;*/
/*}*/
/*#header-list-details li{*/
/*    margin: 0.3em 0;*/
/*    font-size: 1rem;*/
/*    text-align: center;*/
/*}*/
/*#header-list-details a {*/
/*    color: #595959;*/
/*}*/
/*#header-list-details li:hover {*/
/*    font-size: 1.1rem;*/
/*    cursor: pointer;*/
/*    transition: all ease-in-out 0.1s;*/
/*}*/