@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}
li, a {
    list-style-type: none;
    text-decoration: none;
}

/*** 헤더 ***/
header {
    position: relative;
    padding-top: 2rem;
    margin: 0 auto;
    width: 1200px;

    display: flex;
    justify-content: space-between;
}

/*** 로고 이미지 ***/
#header-logo {
    display: flex;
    /*flex-direction: column;*/
}
#header-logo img {
    width: 6rem;
    cursor: pointer;
}
#header-logo-title {

    padding-bottom: 3px;
}
#header-logo-title > span {
    font-size: 0.7rem;
    line-height: 1.2rem;
    font-weight: bold;
    color: #aaa;
}
#header-logo-title > span:nth-child(2) {
    font-size: 1.2rem;
    color: #999;
}


/**** 헤더 메뉴 ****/
#header-list > ul {
    display: flex;
    width: 50rem;
    justify-content: flex-end;
}
#header-list > ul > li {
    padding: 0.5rem 0.5rem;
    margin-top: 1.5rem;
    width: 10rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;

    /*background-color: orange;*/
}
#header-list > ul > li > a {
    color: #314E70;
}
#header-list > ul > li:hover > a {
    color: #69A6F0;
}

.header-detail-list {
    display: none;
    position: absolute;
    margin-top: 0.5rem;
    width: 10rem;
    text-align: center;
    z-index: 999;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(61, 61, 61, 0.8);
}
.header-detail-list > li {
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem 0;
}
.header-detail-list > li:hover > a {
    /*font-size: 1.1rem;*/
    font-weight: bold;
    color: #314E70;
}

