* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}

/*** 헤더 ***/
#header-main {
    padding: 1em 10em 0 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
/*** 로고 이미지 ***/
#header-main img {
    width: 7rem;
}

/*** 서브메뉴(로그인, 컨택, 영문변환) ***/

/*** 헤더 메뉴 ***/
#header-list {
    height: 4em;
}
#header-list ul {
    display: flex;
}
#header-list li {
    margin: 1em 3em;
    font-size: 1.4rem;
    box-sizing: border-box;
    text-align: center;
}
#header-list li a:hover {
    font-weight: bold;
    color: #4646b6;
    transition: all 0.1s ease-in-out;
}

/* details */
#header-list-details {
    opacity: 0;
    height: 0vw;
    padding: 0 27.8em 0 24.5em;
    display: flex;
    overflow: hidden;
    background-color: rgba(198, 199, 201, 0.7);
    transition: opacity ease-in-out 0.2s;
}
#header-list-details ul{
    width: 100%;
}
#header-list-details li{
    margin: 0.3em 0;
    font-size: 1rem;
    text-align: center;
}
#header-list-details a {
    color: white;
}
#header-list-details li:hover {
    font-size: 1.1rem;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}