html, body {
    margin: 0;
    padding: 0;
}
#main-img-container{
    display: flex;
    width: 100vw;
    height: 40em;
    justify-content: center;
    align-items: center;
    background: rgba(54, 54, 54, 0.7);
}

#main-img-items {
    position: absolute;
    display: inline-flex;
    left: 0;
    /*transform: translateX(-100vw);*/
}

.main-img {
    display: inline-block;
    width: 100vw;
    height: 40em;
}

#arrows {
    position: relative;
    display: flex;
    width: 95vw;
    justify-content: space-between;
    text-align: center;
}
#arrows i{
    display: block;
    font-size: 5rem;
    color: rgba(192, 65, 65, 0.8);
    z-index: 10;
}