html, body {
    margin: 0;
    padding: 0;
}
#a{
    position: absolute;
    background: url("../../images/main.jpg") 100% no-repeat rgba(54, 54, 54, 0.7);
    width: 100vw;
    height: 40em;
    margin-top: 0;
    z-index: -1;
}