<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <!--    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">-->
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home/footer.css}" href="../../static/css/home/footer.css">
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
</head>
<body>
<footer th:fragment="footer">
    <div id="foot-container">
        <div id="foot-list">
            <ul>
                <li><a href="#">개인정보취급방침</a></li>
                <li><a href="/user/login">로그인</a></li>
                <li sec:authorize="authenticated"><a href="/user/logout">로그아웃</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="/user/userManagement">회원가입 관리</a></li>
            </ul>
        </div>
        <div id="info">
            <h2>(주) 청 우 국 제 운 송</h2>
            <span>대구광역시 수성구 들안로 32길 101, 2층</span>
        </div>
    </div>
</footer>

</body>
</html>