<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <!--    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">-->
    <title>$Title$</title>
    <link rel="stylesheet" th:href="@{css/home/header.css}" href="../../static/css/home/header.css">
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
    <script th:src="@{js/header.js}" src="../../static/js/header.js" defer></script>
</head>
<body>
<header th:fragment="header">
    <div id="header-main">
        <div >
        <img th:src="@{/images/logo.png}" src="../../static/images/logo.png" alt="로고" onclick="location.href='/ '">
        </div>
        <div id="header-list">
            <ul>
                <li><a href="/introduce/greeting">회사소개</a></li>
                <li><a href="#">업무/사업</a></li>
                <li><a href="#">asdf</a></li>
                <li><a href="/community/notice">커뮤니티</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </div>
        <div id="header-nav">
            <a href="#">CONTACT</a>
            <a href="#">ADMIN</a>
            <a href="#">ENG</a>
        </div>
    </div>
    <div id="header-list-details">
        <ul>
            <li><a href="/introduce/greeting">인사말</a></li>
            <li><a href="">연혁</a></li>
            <li><a href="">조직도</a></li>
            <li><a href="">조직도</a></li>
            <li><a href="">조직도</a></li>
            <li><a href="">조직도</a></li>
        </ul>
        <ul>
            <li><a href="">업무1</a></li>
            <li><a href="">업무2</a></li>
            <li><a href="">업무3</a></li>
            <li><a href="">업무3</a></li>
            <li><a href="">업무3</a></li>
        </ul>
        <ul>
            <li><a href="">aaaa</a></li>
            <li><a href="">aaaa</a></li>
            <li><a href="">aaaa</a></li>
        </ul>
        <ul>
            <li><a href="/community/notice">공지사항</a></li>
            <li><a href="">자료실</a></li>
            <li><a href="">채용공고</a></li>
        </ul>
        <ul>
            <li><a href="">고객센터</a></li>
            <li><a href="">고객센터</a></li>
            <li><a href="">고객센터</a></li>
            <li><a href="">고객센터</a></li>
        </ul>
    </div>
</header>
</body>
</html>