<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <!--    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">-->
    <title>청우국제운송</title>
    <link rel="stylesheet" th:href="@{css/home/header.css}" href="../../static/css/home/header.css">
    <link rel="stylesheet" th:href="@{css/home/main.css}" href="../../static/css/home/main.css">
    <link rel="stylesheet" th:href="@{css/home/footer.css}" href="../../static/css/home/footer.css">
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
    <script th:src="@{js/home/header.js}" src="../../static/js/home/header.js" defer></script>
    <script th:src="@{js/home/main.js}" src="../../static/js/home/main.js" defer></script>
</head>
<body>
<th:block th:replace="~{home/header:: header}"/>
<div id="body-wrapper">
    <div id="main-img-container">
        <div id="main-img-items">
            <img class="main-img" src="../../images/main.jpg" alt="메인1">
            <img class="main-img" src="../../images/main2.jpg" alt="메인2">
            <img class="main-img" src="../../images/main3.jpg" alt="메인3">
        </div>
        <!--        <div id="main-title">-->
        <!--            <h1>CHUNGWOO</h1>-->
        <!--        </div>-->
        <div id="img-num">
            <button onclick="img_changing(1, this)"></button>
            <button onclick="img_changing(2, this)"></button>
            <button onclick="img_changing(3, this)"></button>
        </div>
    </div>
    <section>
        <div id="business-area-container">
            <div class="business-box">
                <h3>국제물류주선업</h3>
                <p>수출입 항공 화물운송</p>
                <p>수출입 해상 화물운송</p>
                <p>프로젝트 운송</p>
                <p>적하보험 대행</p>
            </div>
            <div class="business-box">
                <h3>수출입 통관업</h3>
                <p>수출입 통관</p>
                <p>관세 환급</p>
                <p>기타 업무 대행</p>
            </div>
            <div class="business-box">
                <h3>운송업</h3>
                <p>내륙 운송</p>
                <p>보세 운송</p>
                <p>특수 운송</p>
            </div>
            <div class="business-box">
                <h3>물류 컨설팅</h3>
                <p>물류 원가 분석</p>
                <p>물류 프로세스 진단 </p>
                <p>물류 담당자 교육</p>
            </div>
        </div>
        <div id="community-container">
            <div class="community-box">
                <h2>공지사항</h2>
                <table>
                    <tr>
                        <td>제 목</td>
                        <td>날 짜</td>
                    </tr>
                    <tr>
                        <td>공지1</td>
                        <td>2022-08-23</td>
                    </tr>
                    <tr>
                        <td>공지1</td>
                        <td>2022-08-23</td>
                    </tr>
                    <tr>
                        <td>공지1</td>
                        <td>2022-08-23</td>
                    </tr>
                </table>
                <p><a href="/community/notice">더보기...</a></p>
            </div>
            <div class="community-box">
                <h2>자료실</h2>
                <table>
                    <tr>
                        <td>제 목</td>
                        <td>날 짜</td>
                    </tr>
                    <tr>
                        <td>공지1</td>
                        <td>2022-08-23</td>
                    </tr>
                    <tr>
                        <td>공지1</td>
                        <td>2022-08-23</td>
                    </tr>
                    <tr>
                        <td>공지1</td>
                        <td>2022-08-23</td>
                    </tr>
                </table>
                <p><a href="/community/notice">more</a></p>
            </div>
        </div>
        <div id="contact-container">
            <h2>CONTACT</h2>
            <div>
                <div id="contact-info">
                    <h2>(주) 청 우 국 제 운 송</h2>
                    <h3>｜주 소</h3>
                    <p> ▶ 대구광역시 수성구 들안로 32길 101, 2층</p>
                    <h3>｜연락처</h3>
                    <p> ▶ 010-1234-1234</p>
                    <h3>｜이메일</h3>
                    <p> ▶ asd1234@naver.com</p>
                </div>
                <img src="../../images/map.png" alt="청우국제운송">
            </div>
        </div>
    </section>
</div>
<th:block th:replace="~{home/footer::footer}"/>
</body>
</html>