<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>청우국제운송(주)</title>
    <link rel="stylesheet" th:href="@{css/home/header.css}" href="../../static/css/home/header.css">
    <link rel="stylesheet" th:href="@{css/home/main.css}" href="../../static/css/home/main.css">
    <link rel="stylesheet" th:href="@{css/home/footer.css}" href="../../static/css/home/footer.css">
    <!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
    <script th:src="@{js/home/header.js}" src="../../static/js/home/header.js" defer></script>
    <script th:src="@{js/home/main.js}" src="../../static/js/home/main.js" defer></script>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=vrlpeor7op"></script>
</head>
<body>
<th:block th:replace="~{home/header:: header}"/>
<div id="body-wrapper">
    <div id="main-img-container">
        <div id="main-img-items">
            <img class="main-img active" src="../../images/main1.jpg" alt="메인1">
            <img class="main-img" src="../../images/main2.jpg" alt="메인2">
            <img class="main-img" src="../../images/main3.jpg" alt="메인3">
        </div>
        <div id="back-cover">
            <div id="main-title">
                <h2>CHEONGWOO INTERNATIONAL SERVICE</h2>
                <h1>청 우 국 제 운 송 ㈜</h1>
            </div>
        </div>
        <div id="img-num">
            <button class="select-btn" data-index="0"></button>
            <button class="select-btn" data-index="1"></button>
            <button class="select-btn" data-index="2"></button>
        </div>
    </div>
    <div id="business-header">
        <h2><i class="fa-regular fa-pen-to-square"></i>사업영역</h2>
        <h3><i class="fa-solid fa-ellipsis-vertical"></i>
            항공/해상 포워딩, 내륙운송, 통관 등 종합 물류 서비스 역량을 갖춘 물류회사
        </h3>
    </div>
    <section>
        <div id="business-area-container">
            <div class="business-box">
                <h3>국제물류주선업</h3>
                <p> · 수출입 해상운송 <br/>
                    <span> &nbsp; &nbsp; - LCC화물</span>
                </p>
                <p> · 수출입 항공운송 <br/>
                    <span> &nbsp; &nbsp; - FCC화물</span>
                </p>
                <p> · 프로젝트 운송</p>
                <p> · 적하보험 대행</p>
            </div>
            <div class="business-box">
                <h3>운송업</h3>
                <p> · 내륙 운송</p>
                <p> · 보세 운송</p>
                <p> · 특수 운송</p>
            </div>
            <div class="business-box">
                <h3>수출입 통관업</h3>
                <p> · 수출입 통관</p>
                <p> · 관세 환급</p>
                <p> · 기타 업무 대행</p>
            </div>
            <div class="business-box">
                <h3>물류 컨설팅</h3>
                <p> · 물류 원가 분석</p>
                <p> · 물류 프로세스 진단 </p>
                <p> · 물류 담당자 교육</p>
            </div>
        </div>
        <div id="community-container">
            <div class="community-box">
                <h2>공지사항</h2>
                <table>
                    <thead>
                    <tr>
                        <td>제 목</td>
                        <td>날 짜</td>
                    </tr>
                    </thead>
                    <tbody id="simple-main-notice">
                    <tr>
                        <td><a href="/community/detail">공지1</a></td>
                        <td>2022-08-23</td>
                    </tr>
                    <tr>
                        <td>공지1</td>
                        <td>2022-08-23</td>
                    </tr>
                    <tr>
                        <td>공지1</td>
                        <td>2022-08-23</td>
                    </tr>
                    </tbody>
                </table>
                <p><a href="/community/notice">더보기...</a></p>
            </div>
            <div class="community-box">
                <h2>온라인문의</h2>
                <table>
                    <thead>
                    <tr>
                        <td>번호</td>
                        <td>제목</td>
                        <td>작성자</td>
                        <td>휴대폰</td>
                        <td>날 짜</td>
                    </tr>
                    </thead>
                    <tbody id="simple-main-inquiry">
                    <tr>
                        <td><a href="/community/detail">공지1</a></td>
                        <td>2022-08-23</td>
                    </tr>
                    <tr>
                        <td>공지1</td>
                        <td>2022-08-23</td>
                    </tr>
                    <tr>
                        <td>공지1</td>
                        <td>2022-08-23</td>
                    </tr>
                    </tbody>
                </table>
                <p><a href="/service/inquiryList">더보기...</a></p>
            </div>
        </div>
        <div id="contact-container">
            <h2>CONTACT</h2>
            <div>
                <div id="contact-info">
                    <h2>(주) 청 우 국 제 운 송</h2>
                    <h3>｜주 소</h3>
                    <p> ▶ 대구광역시 수성구 들안로 32길 101</p>
                    <h3>｜연락처</h3>
                    <p> ▶ 대구본점 <br/>&nbsp;&nbsp; · TEL - 053) 753 - 1901 ~ 5 <br>&nbsp;&nbsp; · FAX - 053) 756 - 3370 <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;053) 752 - 4551</p>
                    <p> ▶ 부산지점 - 051) 466 - 6912</p>
                    <p> ▶ 구미지점 - 054) 461 - 0993</p>
                    <p> ▶ 서울지점 - 02) 777 - 4060</p>
                    <p> ▶ 경산지점 - 053) 854 - 6075</p>
                    <h3>｜이메일</h3>
                    <p> ▶ import@cwis.co.kr (수입) <br/> ▶ export@cwis.co.kr (수출)</p>
                </div>
                <div id="map" style="width:90%;height:500px;"></div>
            </div>
        </div>
    </section>
</div>
<th:block th:replace="~{home/footer::footer}"/>
</body>
</html>