<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <!--    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">-->
    <title>청우국제운송</title>
    <link rel="stylesheet" th:href="@{css/home/header.css}" href="../../static/css/home/header.css">
    <link rel="stylesheet" th:href="@{css/home/main.css}" href="../../static/css/home/main.css">
    <script src="https://kit.fontawesome.com/31019ea24a.js" crossorigin="anonymous"></script>
    <script th:src="@{js/header.js}" src="../../static/js/header.js" defer></script>
    <script th:src="@{js/main.js}" src="../../static/js/main.js" defer></script>
</head>
<body>
<th:block th:replace="~{home/header:: header}"/>
<div id="main-img-container">
    <div id="main-img-items">
        <img class="main-img" src="../../images/main.jpg" alt="메인1">
        <img class="main-img" src="../../images/main2.jpg" alt="메인2">
        <img class="main-img" src="../../images/main3.jpg" alt="메인3">
    </div>
    <div id="img-num">
        <button onclick="img_changing(1, this)">1</button>
        <button onclick="img_changing(2, this)">2</button>
        <button onclick="img_changing(3, this)">3</button>
    </div>
</div>
<section>
    <div id="notice-shortly">
        <ul>
            <li>공지사항1</li>
            <li>공지사항2</li>
            <li>공지사항3</li>
            <li>공지사항4</li>
        </ul>
    </div>
</section>
</body>
</html>